@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Karla', sans-serif;
  width: 2183px;
  height: 10957px;
  background-color: #ede5da;
  margin: 0 auto;
}

.container {
  border: 1px solid orangered;
}

.header .header-menu {
  width: 1775px;
  height: 925px;
  background-image: url("/img/header/bg.png");
}

.header .header-menu__row {
  width: 990px;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 460px;
  -webkit-transform: translate(-30px, 700px);
          transform: translate(-30px, 700px);
}

.header .header-menu__links {
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: -0.8px;
  color: #ede5da;
}

.header .header-menu__list {
  display: inline-block;
}

.header .header-menu__list img {
  -webkit-transform: translate(-15px, -5px);
          transform: translate(-15px, -5px);
  position: relative;
  padding: 3px;
  border-radius: 50%;
}

.header .header-menu__list img:hover {
  -webkit-transform: translate(-15px, -25px);
          transform: translate(-15px, -25px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: #3157ad;
}

.header .header-menu__list p {
  margin-right: 40px;
  -webkit-transform: translate(35px, 35px);
          transform: translate(35px, 35px);
  padding: 6px 9px 5px;
  color: #ede5da;
  border-radius: 8px;
}

.header .header-menu__list p:hover {
  position: relative;
  color: #3157ad;
  -webkit-transform: translate(35px, 30px);
          transform: translate(35px, 30px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: #ede5da;
  -webkit-box-shadow: 0px 5px 1px #3157ad;
          box-shadow: 0px 5px 1px #3157ad;
}

.header .header-menu__list p:active {
  border-radius: 8px;
  background-color: #3157ad;
  color: #ede5da;
  -webkit-box-shadow: 0px 5px 1px #ede5da;
          box-shadow: 0px 5px 1px #ede5da;
}

.header .header-menu__list-btn p {
  color: #ede5da;
  padding: 16px 19px 10px;
  background-color: #3157ad;
  border-radius: 8px;
}

.header .header-menu__list-btn p:hover {
  background-color: #ede5da;
  color: #3157ad;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-box-shadow: 0px 5px 1px #3157ad;
          box-shadow: 0px 5px 1px #3157ad;
}

.header .header-menu__list-btn p:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: 0px 2px 1px #3157ad;
          box-shadow: 0px 2px 1px #3157ad;
}

.header .header-info-left {
  width: 365px;
  position: relative;
  height: 255px;
  margin-left: 302px;
  -webkit-transform: translateY(146px);
          transform: translateY(146px);
  z-index: 2;
}

.header .header-info-left__img {
  width: 75px;
  margin-bottom: 28px;
  padding: 10px;
  border-radius: 8px;
}

.header .header-info-left__img:hover {
  background-color: #3157ad;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header .header-info-left__title {
  margin-bottom: 28px;
  font-size: 66.5px;
  letter-spacing: -2.66px;
  line-height: 1;
  font-weight: bold;
}

.header .header-info-left__title:hover {
  -webkit-text-decoration: underline #3157ad;
          text-decoration: underline #3157ad;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header .header-info-left__text {
  width: 307px;
  height: 31px;
  margin-bottom: 33px;
  font-size: 16px;
}

.header .header-info-left__link {
  font-size: 19px;
  line-height: 1.34;
  letter-spacing: -0.76px;
  width: 131px;
  height: 45px;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
}

.header .header-info-left__link p {
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  color: #ede5da;
  background-color: #3157ad;
}

.header .header-info-left__link p:hover {
  background-color: #000000;
  color: #ede5da;
  -webkit-box-shadow: 0px 5px 1px #3157ad;
          box-shadow: 0px 5px 1px #3157ad;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header .header-info-left__link p:hover span {
  -webkit-text-decoration: underline #3157ad;
          text-decoration: underline #3157ad;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header .header-info-left__link p:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: 0px 2px 1px #3157ad;
          box-shadow: 0px 2px 1px #3157ad;
}

.header .header-info-img {
  -webkit-transform: translateY(-330px);
          transform: translateY(-330px);
}

.header .header-info-img__image1 {
  margin-left: 718px;
  z-index: 1;
}

.header .header-info-img__image {
  -webkit-transform: translate(-200px, 180px);
          transform: translate(-200px, 180px);
  position: absolute;
  z-index: 1;
}

.header .header-info-img__image-shadow {
  -webkit-transform: translate(-300px, 550px);
          transform: translate(-300px, 550px);
  position: relative;
  z-index: -1;
}

.header .header-info-right {
  position: relative;
  width: 375px;
  height: 250px;
  margin-left: 1120px;
  margin-top: 146px;
  -webkit-transform: translateY(-828px);
          transform: translateY(-828px);
  z-index: 3;
}

.header .header-info-right__img {
  width: 89px;
  margin-bottom: 28px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 23px;
}

.header .header-info-right__img:hover {
  background-color: #3157ad;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header .header-info-right__title {
  margin-bottom: 26px;
  font-size: 66.5px;
  line-height: 1;
  letter-spacing: -2.66px;
  font-weight: bold;
}

.header .header-info-right__title:hover {
  -webkit-text-decoration: underline #3157ad;
          text-decoration: underline #3157ad;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header .header-info-right__text {
  margin-bottom: 28px;
  width: 300px;
  height: 31px;
  font-size: 16px;
}

.header .header-info-right__link span {
  padding: 9px 15px 9px 15px;
  color: #3157ad;
  border: 2px solid #3157ad;
  border-radius: 8px;
}

.header .header-info-right__link:hover span {
  position: relative;
  background-color: #3157ad;
  color: #ede5da;
  -webkit-box-shadow: 0px 4px 1px #000000;
          box-shadow: 0px 4px 1px #000000;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header .header-info-right__link:hover:active span {
  position: relative;
  top: 3px;
  -webkit-box-shadow: 0px 2px 1px #000000;
          box-shadow: 0px 2px 1px #000000;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
