@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Karla', sans-serif;
  width: 2183px;
  height: 10957px;
  background-color: #ede5da;
  margin: 0 auto;
}

.container {
  border: 1px solid orangered;
}

.header .header-menu {
  width: 1775px;
  height: 925px;
  background-image: url("/img/header/bg.png");
}

.header .header-menu__row {
  width: 990px;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 460px;
  -webkit-transform: translate(-30px, 700px);
          transform: translate(-30px, 700px);
}

.header .header-menu__links {
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: -0.8px;
  color: #ede5da;
}

.header .header-menu__list {
  display: inline-block;
}

.header .header-menu__list img {
  -webkit-transform: translate(-15px, -5px);
          transform: translate(-15px, -5px);
  position: relative;
  padding: 3px;
  border-radius: 50%;
}

.header .header-menu__list img:hover {
  -webkit-transform: translate(-15px, -25px);
          transform: translate(-15px, -25px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: #3157ad;
}

.header .header-menu__list p {
  margin-right: 40px;
  -webkit-transform: translate(35px, 35px);
          transform: translate(35px, 35px);
  padding: 6px 9px 5px;
  color: #ede5da;
  border-radius: 8px;
}

.header .header-menu__list p:hover {
  position: relative;
  color: #3157ad;
  -webkit-transform: translate(35px, 30px);
          transform: translate(35px, 30px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: #ede5da;
  -webkit-box-shadow: 0px 5px 1px #3157ad;
          box-shadow: 0px 5px 1px #3157ad;
}

.header .header-menu__list p:active {
  border-radius: 8px;
  background-color: #3157ad;
  color: #ede5da;
  -webkit-box-shadow: 0px 5px 1px #ede5da;
          box-shadow: 0px 5px 1px #ede5da;
}

.header .header-menu__list-btn p {
  color: #ede5da;
  padding: 16px 19px 10px;
  background-color: #3157ad;
  border-radius: 8px;
}

.header .header-menu__list-btn p:hover {
  background-color: #ede5da;
  color: #3157ad;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-box-shadow: 0px 5px 1px #3157ad;
          box-shadow: 0px 5px 1px #3157ad;
}

.header .header-menu__list-btn p:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: 0px 2px 1px #3157ad;
          box-shadow: 0px 2px 1px #3157ad;
}

.header .header-info-left {
  width: 365px;
  position: relative;
  height: 255px;
  margin-left: 302px;
  -webkit-transform: translateY(146px);
          transform: translateY(146px);
  z-index: 2;
}

.header .header-info-left__img {
  width: 75px;
  margin-bottom: 28px;
  padding: 10px;
  border-radius: 8px;
}

.header .header-info-left__img:hover {
  background-color: #3157ad;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header .header-info-left__title {
  margin-bottom: 28px;
  font-size: 66.5px;
  letter-spacing: -2.66px;
  line-height: 1;
  font-weight: bold;
}

.header .header-info-left__title:hover {
  -webkit-text-decoration: underline #3157ad;
          text-decoration: underline #3157ad;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header .header-info-left__text {
  width: 307px;
  height: 31px;
  margin-bottom: 33px;
  font-size: 16px;
}

.header .header-info-left__link {
  font-size: 19px;
  line-height: 1.34;
  letter-spacing: -0.76px;
  width: 131px;
  height: 45px;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
}

.header .header-info-left__link p {
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  color: #ede5da;
  background-color: #3157ad;
}

.header .header-info-left__link p:hover {
  background-color: #000000;
  color: #ede5da;
  -webkit-box-shadow: 0px 5px 1px #3157ad;
          box-shadow: 0px 5px 1px #3157ad;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header .header-info-left__link p:hover span {
  -webkit-text-decoration: underline #3157ad;
          text-decoration: underline #3157ad;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header .header-info-left__link p:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: 0px 2px 1px #3157ad;
          box-shadow: 0px 2px 1px #3157ad;
}

.header .header-info-img {
  -webkit-transform: translateY(-330px);
          transform: translateY(-330px);
}

.header .header-info-img__image1 {
  margin-left: 718px;
  z-index: 1;
}

.header .header-info-img__image {
  -webkit-transform: translate(-200px, 180px);
          transform: translate(-200px, 180px);
  position: absolute;
  z-index: 1;
}

.header .header-info-img__image-shadow {
  -webkit-transform: translate(-300px, 550px);
          transform: translate(-300px, 550px);
  position: relative;
  z-index: -1;
}

.header .header-info-right {
  position: relative;
  width: 375px;
  height: 250px;
  margin-left: 1120px;
  margin-top: 146px;
  -webkit-transform: translateY(-828px);
          transform: translateY(-828px);
  z-index: 3;
}

.header .header-info-right__img {
  width: 89px;
  margin-bottom: 28px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 23px;
}

.header .header-info-right__img:hover {
  background-color: #3157ad;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header .header-info-right__title {
  margin-bottom: 26px;
  font-size: 66.5px;
  line-height: 1;
  letter-spacing: -2.66px;
  font-weight: bold;
}

.header .header-info-right__title:hover {
  -webkit-text-decoration: underline #3157ad;
          text-decoration: underline #3157ad;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header .header-info-right__text {
  margin-bottom: 28px;
  width: 300px;
  height: 31px;
  font-size: 16px;
}

.header .header-info-right__link span {
  padding: 9px 15px 9px 15px;
  color: #3157ad;
  border: 2px solid #3157ad;
  border-radius: 8px;
}

.header .header-info-right__link:hover span {
  position: relative;
  background-color: #3157ad;
  color: #ede5da;
  -webkit-box-shadow: 0px 4px 1px #000000;
          box-shadow: 0px 4px 1px #000000;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header .header-info-right__link:hover:active span {
  position: relative;
  top: 3px;
  -webkit-box-shadow: 0px 2px 1px #000000;
          box-shadow: 0px 2px 1px #000000;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.content-main {
  -webkit-transform: translateY(-600px);
          transform: translateY(-600px);
}

.content-main .content-main-info {
  width: 1443px;
  height: 847px;
  background-color: #000000;
  color: #ede5da;
  margin-left: 205px;
}

.content-main .content-main-info__titles {
  font-size: 66.5px;
  line-height: 1;
  letter-spacing: -2.66px;
  font-weight: bold;
  padding-top: 222px;
  padding-left: 134px;
}

.content-main .content-main-info__titles li:nth-child(1) p:hover {
  color: #3157ad;
  background-color: #ede5da;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.content-main .content-main-info__titles li:nth-child(2) p:hover {
  background-color: #3157ad;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.content-main .content-main-info__titles li:nth-child(2) p:hover span {
  color: #ede5da;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.content-main .content-main-info__titles li:nth-child(3) p:hover {
  background-color: #3157ad;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.content-main .content-main-info__titles li:nth-child(3) p:hover span {
  color: #ede5da;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.content-main .content-main-info__titles p {
  width: 291px;
  height: 85px;
  margin-bottom: 84px;
  padding: 10px;
  border-radius: 8px;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.content-main .content-main-info__titles span {
  color: #3157ad;
}

.content-main .content-main-info__text {
  -webkit-transform: translate(600px, -550px);
          transform: translate(600px, -550px);
  width: 393px;
  height: 48px;
}

.content-main .content-main-info__text p {
  width: 300px;
  height: 46px;
  padding-left: 15px;
  font-size: 29.5px;
  line-height: 1.36;
  letter-spacing: -1.18px;
  margin-bottom: 16px;
  margin-top: 72px;
  font-weight: bold;
}

.content-main .content-main-info__text span {
  width: 393px;
  height: 48px;
  font-size: 14px;
  padding-bottom: 82px;
}

.content-main .content-main-info-image__rectangle {
  -webkit-transform: translate(500px, -570px);
          transform: translate(500px, -570px);
}

.content-main .content-main-info-image__woman {
  position: relative;
  -webkit-transform: translate(1000px, -390px);
          transform: translate(1000px, -390px);
  z-index: 1;
}

.content-main .content-main-info-image__shadow {
  position: relative;
  -webkit-transform: translate(700px, -80px);
          transform: translate(700px, -80px);
}

.content-main .content-main-trial {
  margin-top: 190px;
  margin-left: 428px;
}

.content-main .content-main-trial .content-main-trial-left {
  width: 650px;
}

.content-main .content-main-trial .content-main-trial-left__titles {
  margin-bottom: 34px;
  font-size: 66px;
  font-weight: bold;
  width: 630px;
}

.content-main .content-main-trial .content-main-trial-left__titles p {
  width: 449px;
  height: 87px;
  margin-bottom: 34px;
  border-radius: 8px;
  position: relative;
  z-index: 5;
}

.content-main .content-main-trial .content-main-trial-left__titles p:hover {
  background-color: #3157ad;
  color: #ede5da;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.content-main .content-main-trial .content-main-trial-left__titles p:hover span {
  color: #ede5da;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.content-main .content-main-trial .content-main-trial-left__titles span {
  color: #3157ad;
}

.content-main .content-main-trial .content-main-trial-left__titles .char2 {
  -webkit-transform: translateX(220px);
          transform: translateX(220px);
  width: 410px;
}

.content-main .content-main-trial .content-main-trial-left__text {
  width: 650px;
  margin-bottom: 46px;
  position: relative;
  z-index: 5;
}

.content-main .content-main-trial .content-main-trial-left__text img {
  margin-bottom: 14px;
  margin-right: 156px;
}

.content-main .content-main-trial .content-main-trial-left__text p {
  font-size: 14px;
  width: 179px;
  height: 60px;
  text-align: center;
  display: inline-block;
  margin-right: 27px;
  -webkit-transform: translate(-60px, 0px);
          transform: translate(-60px, 0px);
  border-radius: 8px;
}

.content-main .content-main-trial .content-main-trial-left__text p:hover {
  background-color: #3157ad;
  color: #ede5da;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.content-main .content-main-trial .content-main-trial-left__text .txt1 {
  margin-left: 10px;
}

.content-main .content-main-trial .content-main-trial-left__btn {
  width: 161px;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  border-radius: 8px;
  background-color: #3157ad;
  font-size: 19px;
  margin-bottom: 140px;
  margin-left: 155px;
  position: relative;
  z-index: 5;
}

.content-main .content-main-trial .content-main-trial-left__btn span {
  color: #ede5da;
}

.content-main .content-main-trial .content-main-trial-left__btn:hover {
  -webkit-box-shadow: 0 5px 1px #000000;
          box-shadow: 0 5px 1px #000000;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.content-main .content-main-trial .content-main-trial-left__btn:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: 0 2px 1px #000000;
          box-shadow: 0 2px 1px #000000;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.content-main .content-main-trial .content-main-trial-right {
  width: 500px;
  height: 640px;
  -webkit-transform: translate(730px, -500px);
          transform: translate(730px, -500px);
}

.content-main .content-main-trial .content-main-trial-right__img-woman {
  position: relative;
  z-index: 4;
  -webkit-transform: translateX(73px);
          transform: translateX(73px);
}

.content-main .content-main-trial .content-main-trial-right__img-phone {
  position: relative;
  z-index: 3;
  -webkit-transform: translateY(-33px);
          transform: translateY(-33px);
}

.content-main .content-main-trial .content-main-trial-right__img-shadow {
  position: relative;
  z-index: 2;
  -webkit-transform: translate(30px, -60px);
          transform: translate(30px, -60px);
}

.content-main .content-main-trial .content-main-trial-right__img-bg {
  -webkit-transform: translate(-850px, -2550px);
          transform: translate(-850px, -2550px);
}
