@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$color1: #ede5da;
$color2: #3157ad;
$color3: #000000;
$color4: #ffff;

body{
  font-family: 'Karla', sans-serif;
  width: 1993px;
  height: 10957px;
  background-color: $color1;
  margin: 0 auto;
}


.container{
  border: 1px solid orangered;
}

.header{
  .header-menu {
    width: 1775px;
    height: 925px;
    background-image: url('/img/header/bg.png');
    position: relative;
    z-index: 1;

    &__row {
      width: 990px;
      height: 105px;

      display: flex;
      justify-content: center;
      
      margin-left: 460px;

      transform: translate(-30px, 700px);
    }

    &__links {
      font-size: 20px;
      line-height: 1.35;
      letter-spacing: -0.8px;
      color: $color1;
    }

    &__list {
      display: inline-block;

      img{
        transform: translate(-15px, -5px);
        position: relative;
        padding: 3px;
        border-radius: 50%;

        &:hover{
          transform: translate(-15px, -25px);
          transition-duration: 0.5s;
          background-color: $color2;
        }
      }

      p{
        margin-right: 40px;
        transform: translate(35px,35px);
        padding: 6px 9px 5px;
        color: $color1;
        border-radius: 8px;

        &:hover{
          position: relative;
          color: $color2;
          transform: translate(35px,30px);
          transition-duration: 0.5s;
          background-color: $color1;
          box-shadow: 0px 5px 1px $color2;
        }

        &:active{
          border-radius: 8px;
          background-color: $color2;
          color: $color1;
          box-shadow: 0px 5px 1px $color1;
        }
      }
    }

    &__list-btn{
      p{
      color: $color1;
      padding: 16px 19px 10px;
      background-color: #3157ad;
      border-radius: 8px;

      &:hover{
        background-color: $color1;
        color: $color2;
        transition-duration: 0.5s;
        box-shadow: 0px 5px 1px $color2;
      }

      &:active{
        position: relative;
        top: 3px;
        box-shadow: 0px 2px 1px $color2;
      }
    }
  }

  }

  .header-info-left {
    width: 365px;
    position: relative;
    height: 255px;
    margin-left: 302px;
    transform: translateY(146px);
    z-index: 2;
    &__img {
      width: 75px;
      margin-bottom: 28px;
      padding: 10px;
      border-radius: 8px;

      &:hover{
        background-color: $color2;
        transition-duration: 0.5s;
      }
    }

    &__title {
      margin-bottom: 28px;
      font-size: 66.5px;
      letter-spacing: -2.66px;
      line-height: 1;
      font-weight: bold;

      &:hover{
        text-decoration: underline $color2;
        transition-duration: 0.5s;
      }
    }

    &__text {
      width: 307px;
      height: 31px;
      margin-bottom: 33px;
      font-size: 16px;
    }

    &__link {
      font-size: 19px;
      line-height: 1.34;
      letter-spacing: -0.76px;
      width: 131px;
      height: 45px;
      transform: translateY(-18px);

      p{
        padding: 5px 10px 5px 10px;
        border-radius: 8px;
        color: $color1;
        background-color: $color2;

        &:hover{
          background-color: $color3;
          color: $color1;
          box-shadow: 0px 5px 1px $color2;
          transition-duration: 0.5s;

          span{
            text-decoration: underline $color2;
            transition-duration: 0.5s;
          }
        }

        &:active{
            position: relative;
            top: 3px;
            box-shadow: 0px 2px 1px $color2;
        }
      }
    }
  }
  .header-info-img {
    transform: translateY(-330px);
    position: relative;
    z-index: 1;

    &__image1 {
      margin-left: 718px;
      z-index: 1;
    }

    &__image {
      transform: translate(-200px, 180px);
      position: absolute;
      z-index: 1;
    }

    &__image-shadow{
      transform: translate(-300px, 550px);
      position: relative;
      z-index: -1;
    }
  }
  .header-info-right {
    position: relative;
    width: 375px;
    height: 250px;
    margin-left: 1120px;
    margin-top: 146px;
    transform: translateY(-828px);
    z-index: 3;

    &__img {
      width: 89px;
      margin-bottom: 28px;
      padding: 10px;
      border-radius: 8px;
      margin-bottom: 23px;

      &:hover{
        background-color: $color2;
        transition-duration: 0.5s;
      }
    }

    &__title {
      margin-bottom: 26px;
      font-size: 66.5px;
      line-height: 1;
      letter-spacing: -2.66px;
      font-weight: bold;
      
      &:hover{
        text-decoration: underline $color2;
        transition-duration: 0.5s;
      }
    }

    &__text {
      margin-bottom: 28px;
      width: 300px;
      height: 31px;
      font-size: 16px;
    }

    &__link {
      
      span{
        padding: 9px 15px 9px 15px;
        color: $color2;
        border: 2px solid $color2;
        border-radius: 8px;
      }

      &:hover{
        span{
          position: relative;
          background-color: $color2;
          color: $color1;
          box-shadow: 0px 4px 1px $color3;
          transition-duration: 0.5s;
        }

        &:active{
          span{
            position: relative;
            top: 3px;
            box-shadow: 0px 2px 1px $color3;
            transition-duration: 0.5s;
          }
        }
      }
    }
  }
}

.content-main {
  transform: translateY(-600px);

.content-main-info {
  width: 1443px;
  height: 847px;
  background-color: $color3;
  color: $color1;
  margin-left: 205px;
  position: relative;
  z-index: 1;

  &__titles {
    font-size: 66.5px;
    line-height: 1;
    letter-spacing: -2.66px;
    font-weight: bold;
    padding-top: 222px;
    padding-left: 134px;

    li{
      &:nth-child(1){
        p{
          &:hover{
            color: $color2;
            background-color: $color1;
            transition-duration: 0.5s;
          }
        }
      }

      &:nth-child(2){
        p{
          &:hover{
            background-color: $color2;
            transition-duration: 0.5s;
            span{
              color: $color1;
              transition-duration: 0.5s;
            }
          }
        }
      }

      &:nth-child(3){
        p{
          &:hover{
            background-color: $color2;
            transition-duration: 0.5s;
            span{
              color: $color1;
              transition-duration: 0.5s;
            }
          }
        }
      }
    }

    p{
      width: 291px;
      height: 85px;
      margin-bottom: 84px;
      padding: 10px;
      border-radius: 8px;
      transform: translateY(-60px);
    }

    span{
      color: $color2;
    }
  }

  &__text {
    transform: translate(600px, -550px);
    width: 393px;
    height: 48px;
    
    p{
      width: 300px;
      height: 46px;
      padding-left: 15px;
      font-size: 29.5px;
      line-height: 1.36;
      letter-spacing: -1.18px;
      margin-bottom: 16px;
      margin-top: 72px;
      font-weight: bold;
    }

    span{
      width: 393px;
      height: 48px;
      font-size: 14px;
      padding-bottom: 82px;
    }
  }
}

.content-main-info-image {

  &__rectangle {
    transform: translate(500px, -570px);
  }

  &__woman {
    position: relative;
    transform: translate(1000px, -390px);
    z-index: 1;
  }

  &__shadow {
    position: relative;
    transform: translate(700px, -80px);
  }
}


.content-main-trial {
  margin-top: 190px;
  margin-left: 428px;

.content-main-trial-left {
  width: 650px;

  &__titles {
    margin-bottom: 34px;
    font-size: 66px;
    font-weight: bold;
    width: 630px;

    p{
      width: 449px;
      height: 87px;
      margin-bottom: 34px;
      border-radius: 8px;
      position: relative;
      z-index: 5;

      &:hover{
        background-color: $color2;
        color: $color1;
        transition-duration: 0.5s;

        span{
          color: $color1;
          transition-duration: 0.5s;
        }
      }
    }

    span{
      color: $color2;
    }

    .char1 {
    }
    .char2 {
      transform: translateX(220px);
      width: 410px;
    }
 
  }

  &__text {
    width: 650px;
    margin-bottom: 46px;
    position: relative;
    z-index: 5;

    img{
      margin-bottom: 14px;
      margin-right: 156px;
    }

    p{
      font-size: 14px;
      width: 179px;
      height: 60px;
      text-align: center;
      display: inline-block;
      margin-right: 27px;
      transform: translate(-60px, 0px);
      border-radius: 8px;

      &:hover{
        background-color: $color2;
        color: $color1;
        transition-duration: 0.3s;
      }
    }
    .txt1{
      margin-left: 10px;
    }
  }

  &__text-img {
  }

  &__text-img1 {
  }

  &__text-img2 {
  }

  &__btn {
    width: 161px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    border-radius: 8px;
    background-color: $color2;
    font-size: 19px;
    margin-bottom: 140px;
    margin-left: 155px;
    position: relative;
    z-index: 5;

    span{
      color: $color1;
    }

    &:hover{
      box-shadow: 0 5px 1px $color3;
      transition-duration: 0.3s;
    }

    &:active{
      position: relative;
      top: 3px;
      box-shadow: 0 2px 1px $color3;
      transition-duration: 0.3s;
    }
  }
}
.content-main-trial-right {
  width: 500px;
  height: 640px;
  transform: translate(730px, -500px);

  &__img-woman {
    position: relative;
    z-index: 4;
    transform: translateX(73px);
  }

  &__img-phone {
    position: relative;
    z-index: 3;
    transform: translateY(-33px);
  }

  &__img-shadow {
    position: relative;
    z-index: 2;
    transform: translate(30px, -60px);
  }

  &__img-bg{
    transform: translate(-850px, -2550px);

  }
 }
}
.content-main-about {
  width: 1550px;
  height: 847px;
  background-color: $color3;
  transform: translate(198px, -509px);
  color: $color1;
  &__row {
    
  }

  &__title {
    text-align: center;
    
    h1{
      width: 749px;
      height: 74px;
      margin-bottom: 13px;
      font-weight: bold;
      font-size: 66.5px;
      line-height: 1;
      letter-spacing: -2.66px;
      margin-left: 400px;
      border-radius: 8px;

      &:hover{
        background-color: $color1;
        color: $color2;
        transition-duration: 0.5s;
      }
    }

    p{
      font-size: 14px;
      width: 338px;
      height: 31px;
      margin-left: 590px;
    }
  }

  &__title-title {
  }

  &__title-text {
  }

  &__info {
    margin-top: 85px;
  }

  &__info-list {

    span{
      color: $color2;
      font-weight: bold;
    }
  
  }

  &__info-column-top {
    width: 1550px;
    height: 150px;
    display: flex;
    justify-content: space-around;
  }

  &__info-column1 {
  }

  &__info-column-bot {
    margin-top: 120px;
    width: 1550px;
    height: 150px;
    display: flex;
    justify-content: space-around;
  }

  &__info-column2 {
  }
}
.top-title {
  margin-bottom: 16px;
  margin-top: 16px;
  font-size: 29.5px;
  line-height: 1.36;
  letter-spacing: -1.18px;
  border-radius: 8px;
}
.bot-text {
  width: 275px;
  height: 48px;
  font-size: 14px;
}

.info-img{
  transform: translate(-60px, -103px);
}
}

.content-bottom {

  &__row {
    transform: translateY(-972px);
  }


  &__classes-title {
    text-align: center;

    h2{
      color: $color2;
      font-size: 29.5px;
      line-height: 1.36;
      letter-spacing: -1.18px;
      font-weight: bold;
      margin-bottom: 22px;
    }

    h3{
      width: 910px;
      height: 90px;
      color: $color3;
      font-size: 66.5px;
      line-height: 1.36;
      letter-spacing: -1.18px;
      font-weight: bold;
      margin-bottom: 35px;
      transform: translateX(555px);
      border-radius: 8px;

      &:hover{
        color: $color1;
        background-color: $color2;
        transition-duration: 0.5s;
      }
    }

    p{
      font-size: 14px;
      width: 338px;
      height: 31px;
      margin-left: 830px;
    }
  }


  .classes {
    margin-top: 132px;
    // margin-left: 410px;
    transform: translateX(410px);
  }

  .classes-text{
    font-size: 14px;
    width: 200px;
    height: 31px;
    color: $color1;
    transform: translate(250px, -200px);
  }

  .list-classes-link {
    transform: translate(250px, -150px);
    width: 211px;
    height: 45px;
  }
  
  .link{
    
    &:hover{
      position: relative;
      bottom: 3px;
      background-color: $color3;
      box-shadow: 0px 5px 1px $color1;
      transition-duration: 0.5s;
      
      span{
        color: $color1;
        transition-duration: 0.5s;
      }
    }

    &:active{
      position: relative;
      top: 3px;
      box-shadow: 0px 2px 1px $color1;
    }
  }

  .classes-left-title {
    width: 200px;
    height: 67px;
    font-size: 29.5px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -1.18px;
    color: $color1;
    transform: translate(250px, -220px);
  }
  .classes-left-link {
    padding: 15px 36px;
    background-color: $color4;
    border-radius: 8px;
    opacity: 0.9;

    span{
      font-size: 19px;
      color: $color2;
      opacity: 0.9;
      line-height: 1.34;
      letter-spacing: -0.76px;
    }
  }
  .class-list-right {
    margin-left: 1370px;
    transform: translate(-700px, -1685px);
    width: 1px;
    height: 1px;
  }

  .classes-right-title {
    width: 195px;
    height: 67px;
    line-height: 1.25;
    font-size: 29.5px;
    font-weight: bold;
    letter-spacing: -1.18px;
    color: $color1;
    transform: translate(250px, -220px);
  }
  
  .classes-right-title-last{
    width: 210px;
    height: 67px;
    line-height: 1.25;
    font-size: 29.5px;
    font-weight: bold;
    letter-spacing: -1.18px;
    color: $color1;
    transform: translate(250px, -220px);
  }

  .classes-right-link {
    padding: 15px 36px;
    background-color: $color4;
    border-radius: 8px;
    opacity: 0.9;

    span{
      font-size: 19px;
      color: $color2;
      opacity: 0.9;
      line-height: 1.34;
      letter-spacing: -0.76px;
    }
  }
  .content-bottom {

		&__about {
      position: relative;
      transform: translateY(-100px);
      background-color: $color3;
      z-index: 1;
		}

		&__about-title {
  
		}

		&__about-title-text {
      margin-top: 29px;
      text-align: center;
      font-size: 66.5px;
      line-height: 0.23;
      letter-spacing: -2.66px;
      font-weight: bold;
      color: $color1;
      transform: translateY(30px);
      
      span{
        color: $color2;
        border-radius: 8px;
      }

      &:hover{
        span{
          padding: 0.1px 16px;
          color: $color1;
          background-color: $color2;
          transition-duration: 0.3s;
        }
      }
		}

		&__about-title-left {
      margin-top: 112px;
      color: $color1;
		}

		&__about-title-img {
		}

		&__about-title-right {
      color: $color1;
		}

		&__about-us {
      position: relative;
      background-color: $color1;
      z-index: 2;
		}

		&__about-us-left {
      width: 506px;
      margin-left: 260px;
      transform: translateY(-400px);

      h4{
        width: 431px;
        height: 126px;
        font-size: 66.5px;
        letter-spacing: -2.66px;
        margin-bottom: 92px;
        font-weight: bold;
        border-radius: 8px;

        &:hover{
          background-color: $color2;
          color: $color1;
          transition-duration: 0.3s;
        }
      }
		}

		&__about-us-image {
      height: 490px;
      
		}

		&__about-us-arrows {
      width: 75px;
      transform: translate(265px, -800px);
		}
}
.about-title-left {
  

		&__top-text {
      font-size: 66.5px;
      font-weight: bold;
      line-height: 1;
      letter-spacing: -2.66px;
      margin-bottom: 28px;
      transform: translateX(400px);
		}

		&__bottom-text {
      font-size: 14px;
      width: 282px;
      height: 48px;
      line-height: 1.35;
      transform: translateX(400px);
		}
}
.about-title-img {

		&__phone {
      position: relative;
      margin-left: 870px;
      margin-bottom: 300px;
      transform: translateY(-160px);
      z-index: 4;
		}

		&__shadow {
      position: relative;
      transform: translate(-290px, 305px);
      z-index: 3;
		}

		&__arrow-down {
      position: relative;
      transform: translate(-455px, 390px);
      z-index: 3;
		}
}
.about-title-right {

		&__top-text {
      font-size: 66.5px;
      font-weight: bold;
      line-height: 1;
      letter-spacing: -2.66px;
      margin-bottom: 28px;
      transform: translate(1350px, -950px);
		}

		&__bottom-text {
      font-size: 14px;
      width: 282px;
      height: 48px;
      line-height: 1.35;
      transform: translate(1350px, -950px);
		}
}
.about-us-left {

		&__top-text {
      margin-bottom: 31px;
      width: 344px;
      font-weight: bold;
      font-size: 29.5px;
      line-height: 1.36;
      letter-spacing: -1.18px;
      color: $color2;

      &:hover{
        background-color: $color2;
        color: $color1;
        transition-duration: 0.3s;
      }
		}

		&__bottom-text {
      font-size: 16px;
      text-align: justify;
      color: $color3;
		}
}
.about-us-image {

		&__photo {
      border: 1px solid blue;
      margin-left: 1019px;
      transform: translateY(-825px);
		}

    &__bg-white{
      position: relative;
      z-index: -1;
      width: 2990px;
      height: 940px;
      transform: translate(-500px, -1680px);
    }
}
.about-us-arrows {
		&__arrow-left {
      margin-right: 20px;
		}

		&__arrow-right {
		}
}

.content-bottom {

  &__join {
  }

  &__join-wave {
  }

  &__join-left {
  }

  &__join-left-img {
  }

  &__join-right {
  }
}
.join-wave-image {
}
.join-left-img {

  &__phone {
  }

  &__human {
  }

  &__shadow-white {
  }
}
.join-right {

  &__top-text {
  }

  &__bottom-text {
  }

  &__link {
  }
}


}
