@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$color1: #ede5da;
$color2: #3157ad;
$color3: #000000;
$color4: #ffff;

body{
  font-family: 'Karla', sans-serif;
  width: 2183px;
  height: 10957px;
  background-color: $color1;
  margin: 0 auto;
}


.container{
  border: 1px solid orangered;
}


.header-menu {
  width: 1775px;
  height: 925px;
  background-image: url('/img/header/bg.png');

  &__row {
    width: 990px;
    height: 105px;

    display: flex;
    justify-content: center;
    
    margin-left: 460px;

    transform: translate(-30px, 700px);
  }

  &__links {
    font-size: 20px;
    line-height: 1.35;
    letter-spacing: -0.8px;
    color: $color1;
  }

  &__list {
    display: inline-block;

    img{
      transform: translate(-15px, -5px);
      position: relative;
      padding: 3px;
      border-radius: 50%;

      &:hover{
        transform: translate(-15px, -25px);
        transition-duration: 0.5s;
        background-color: $color2;
      }
    }

    p{
      margin-right: 40px;
      transform: translate(35px,35px);
      padding: 6px 9px 5px;
      color: $color1;
      border-radius: 8px;

      &:hover{
        position: relative;
        color: $color2;
        transform: translate(35px,30px);
        transition-duration: 0.5s;
        background-color: $color1;
        box-shadow: 0px 5px 1px $color2;
      }

      &:active{
        border-radius: 8px;
        background-color: $color2;
        color: $color1;
        box-shadow: 0px 5px 1px $color1;
      }
    }
  }

  &__list-btn{
    p{
    color: $color1;
    padding: 16px 19px 10px;
    background-color: #3157ad;
    border-radius: 8px;

    &:hover{
      background-color: $color1;
      color: $color2;
      transition-duration: 0.5s;
      box-shadow: 0px 5px 1px $color2;
    }

    &:active{
      position: relative;
      top: 3px;
      box-shadow: 0px 2px 1px $color2;
    }
  }
}

}

.header-info-left {
  width: 365px;
  position: relative;
  height: 255px;
  margin-left: 302px;
  transform: translateY(146px);
  z-index: 2;
  &__img {
    width: 75px;
    margin-bottom: 28px;
    padding: 10px;
    border-radius: 8px;

    &:hover{
      background-color: $color2;
      transition-duration: 0.5s;
    }
  }

  &__title {
    margin-bottom: 28px;
    font-size: 66.5px;
    letter-spacing: -2.66px;
    line-height: 1;
    font-weight: bold;

    &:hover{
      text-decoration: underline $color2;
      transition-duration: 0.5s;
    }
  }

  &__text {
    width: 307px;
    height: 31px;
    margin-bottom: 33px;
    font-size: 16px;
  }

  &__link {
    font-size: 19px;
    line-height: 1.34;
    letter-spacing: -0.76px;
    width: 131px;
    height: 45px;
    transform: translateY(-18px);

    p{
      padding: 5px 10px 5px 10px;
      border-radius: 8px;
      color: $color1;
      background-color: $color2;

      &:hover{
        background-color: $color3;
        color: $color1;
        box-shadow: 0px 5px 1px $color2;
        transition-duration: 0.5s;

        span{
          text-decoration: underline $color2;
          transition-duration: 0.5s;
        }
      }

      &:active{
          position: relative;
          top: 3px;
          box-shadow: 0px 2px 1px $color2;
      }
    }
  }
}
.header-info-img {
  transform: translateY(-330px);

  &__image1 {
    margin-left: 718px;
    z-index: 1;
  }

  &__image {
    transform: translate(-200px, 180px);
    position: absolute;
    z-index: 1;
  }

  &__image-shadow{
    transform: translate(-300px, 550px);
    position: relative;
    z-index: -1;
  }
}
.header-info-right {
  position: relative;
  width: 375px;
  height: 250px;
  margin-left: 1120px;
  margin-top: 146px;
  transform: translateY(-828px);
  z-index: 3;

  &__img {
    width: 89px;
    margin-bottom: 28px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 23px;

    &:hover{
      background-color: $color2;
      transition-duration: 0.5s;
    }
  }

  &__title {
    margin-bottom: 26px;
    font-size: 66.5px;
    line-height: 1;
    letter-spacing: -2.66px;
    font-weight: bold;
    
    &:hover{
      text-decoration: underline $color2;
      transition-duration: 0.5s;
    }
  }

  &__text {
    margin-bottom: 28px;
    width: 300px;
    height: 31px;
    font-size: 16px;
  }

  &__link {
    
    span{
      padding: 9px 15px 9px 15px;
      color: $color2;
      border: 2px solid $color2;
      border-radius: 8px;
    }

    &:hover{
      span{
        position: relative;
        background-color: $color2;
        color: $color1;
        box-shadow: 0px 4px 1px $color3;
        transition-duration: 0.5s;
      }

      &:active{
        span{
          position: relative;
          top: 3px;
          box-shadow: 0px 2px 1px $color3;
          transition-duration: 0.5s;
        }
      }
    }
  }
}

